function Main.main 4
push constant 8
pop local 0
push constant 5000
pop local 1
label WHILE_EXP0
push local 0
push constant 8
eq
push local 0
push constant 5
eq
or
not
if-goto WHILE_END0
push local 0
call Math.shiftleft 1
pop local 2
push local 1
push constant 1
add
pop local 1
push local 1
push local 2
call Memory.poke 2
pop temp 0
push local 0
call Math.shiftright 1
pop local 3
push local 1
push constant 1
add
pop local 1
push local 1
push local 3
call Memory.poke 2
pop temp 0
push local 0
push constant 3
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
