function Food.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
return
function Food.setPosition 0
push argument 0
pop pointer 0
push this 0
call Coordinate.dispose 1
pop temp 0
push argument 1
pop this 0
push constant 0
return
function Food.getPosition 0
push argument 0
pop pointer 0
push this 0
return
function Food.dispose 0
push argument 0
pop pointer 0
push this 0
call Coordinate.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
